* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.content{
    width: 100%;
}
.menu {
    padding: 10px 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.menu h1 {
    margin: 0;
}

.menu button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.imgcontainer {
    margin: 0px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.imgcontainer img{
    width: 100%;
    height: 100vh;
}
.overtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    margin-bottom: 20px;

}

.overtext pre{
    margin-bottom: 30px;
}
.email-input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.blue-btn {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cl {
    background-color:white;
    display: flex;
    align-items: center;
    justify-content:  space-around;
    text-align: center;
    padding: 100px;
}

.class2 img {
    width: 100px;
    height: auto;
}

.class2 h3 {
    margin: 20px 0 10px;
}

.class2 p {
    margin-bottom: 30px;
}

.footer {
    background-color:blue;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: static;
    display:flex;
    margin-top: -59px;
    margin-bottom: 75px;
}



.ourfooter {
    width: 30px;
    height: auto;
    margin: 0 5px;
}

.copy {
    text-align: center;
    color: white;
}
.type{
    font-size: 20px;
    font-weight: 700;
}